@using EPiServer.Shell.Web.Mvc.Html
@using EPiServer.Web.Mvc.Html

@model EPiCenterBaseProject.Models.ViewModels.StartPageViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <!-- #############################	BANNER	######################################## -->
    <div class="full_width clear">
      @Html.PropertyFor(p => p.StartPage.BannerContentArea)
    </div>
    <!-- ################################################################################################ --> 
	<!-- ################################################################################################ -->
    <div class="full_width clear">
      <div class="two_third col first">
		  <div class="block clear overviewBlock">
			@Html.PropertyFor(p => p.StartPage.OverviewContentArea)
		  </div>
		  <div class="block clear newsBlock">
			@Html.PropertyFor(p => p.StartPage.NewsListContentArea)
		  </div>
	  </div>
      <div class="one_third col">
       @Html.PropertyFor(p => p.StartPage.YammerContentArea)
        </div>
      <div class="one_third col">
	  @Html.PropertyFor(p => p.StartPage.RightColumnContentArea)
	  </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
   
    
